body{
    margin:0 auto;
    font-size: 16px;
    font-family: sans-serif; 
}

*{
    color: white;
}
nav{
    padding: 1em;
    height: 64px;
    background: #ff004e;
}
.s1{
    padding: 1em;
    background: #1BD6E7;
    height: 100vh;
}

@media(min-width: 500px){
    .s1{
        font-size: 1.3em;
    }
}
@media(min-width: 700px){
    .s1{
        font-size: 1.5em;
    }
    h1{
        color:#ff004e;
    }
}
@media(min-width: 900px){
    .s1{
        font-size: 1.8em;
    }
    h1{
        color:#ff004e;
    }
}
@media(min-width:1000px){
    .s1{
        padding: 2em;
        color:#ff004e;
        background: #ff004e;
    }
    nav{
        padding: 2em;
        background: #1BD6E7;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    h1{
        color:#1BD6E7;
    }
}
@media(min-width:1100px){
    nav{
       text-align: center;
    }
   
}